/********************************************************************************************************************************

 * Web Font

********************************************************************************************************************************/
/*
 * Pretendard 400, 500. 700
 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
/********************************************************************************************************************************

 * Reset

********************************************************************************************************************************/
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, span, a, table, thead, tfoot, tbody, th, td, form, legend, label, input, textarea, address, strong, em, pre, q, abbr, acronym, cite, blockquote, object, iframe, figure {
  margin: 0;
  padding: 0;
  font-style: normal;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1;
  /*letter-spacing: -0.5px;*/
  -webkit-text-size-adjust: none;
}

img, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul, ol, li {
  list-style-type: none;
  list-style: none;
}

select, input, textarea {
  font-family: inherit;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

legend, caption {
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

abbr {
  text-decoration: none;
}

a {
  font: inherit;
  color: inherit;
}
a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=checkbox], input[type=radio], input[type=number] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea, select {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

::-moz-selection {
  background-color: #121212;
  color: #fff;
}

::selection {
  background-color: #121212;
  color: #fff;
}

/********************************************************************************************************************************

 * color

********************************************************************************************************************************/
:root {
  --system-0: #000000;
  --system-10: #d32f2f;
  --system-20: #f9a825;
  --system-30: #4caf50;
  --system-40: #0091ea;
  --system-100: #ffffff;
  --base-0: #000000;
  --base-10: #181818;
  --base-20: #303030;
  --base-30: #606060;
  --base-40: #767676;
  --base-50: #919191;
  --base-60: #a9a9a9;
  --base-70: #c1c1c1;
  --base-80: #d9d9d9;
  --base-90: #f2f2f2;
  --base-95: #fbfbfb;
  --base-100: #ffffff;
  --primary-0: #000000;
  --primary-10: #052538;
  --primary-20: #003553;
  --primary-30: #014F7D;
  --primary-40: #016AA6;
  --primary-50: #0184D0;
  --primary-60: #41A3DC;
  --primary-70: #73BCE5;
  --primary-80: #A6D4EF;
  --primary-90: #D9EDF8;
  --primary-95: #F2F9FC;
  --primary-100: #ffffff;
  --secondary-0: #000000;
  --secondary-10: #4D1200;
  --secondary-20: #801E00;
  --secondary-30: #B22A00;
  --secondary-40: #FF3C00;
  --secondary-50: #FF5926;
  --secondary-60: #FF764D;
  --secondary-70: #FFA78C;
  --secondary-80: #FFCEBF;
  --secondary-90: #FFE6DE;
  --secondary-95: #FFF3F0;
  --secondary-100: #ffffff;
}

/********************************************************************************************************************************

 * typography

********************************************************************************************************************************/
/********************************************************************************************************************************

 * button

********************************************************************************************************************************/
.btn[class*=ico-pin]::before, .btn[class*=ico-pin]::after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.btn[class*=ico-close]::before, .btn[class*=ico-close]::after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.skip {
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 50px;
  background-color: var(--base-000);
}
.skip a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--base-000);
  color: var(--base-100);
  text-decoration: underline;
  text-align: center;
}
.skip a:not(:focus) {
  top: -50px;
}
.skip:focus-within {
  top: 0;
}