.g-heading-m {
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.g-heading-s {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.g-title-l {
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
}

.g-title-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.g-body-l {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.g-body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}