@charset "UTF-8";
.g-table-display table {
  width: 100%;
  border-collapse: collapse;
}
.g-table-display table thead th {
  padding: 16px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  font-size: 14px;
}
.g-table-display table tbody th, .g-table-display table tbody td {
  padding: 12px 20px;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  text-align: center;
}
.g-table-display table tbody th {
  font-weight: 600;
}
.g-table-display table tbody .align-a {
  text-align: left;
}

.g-color-palettes .data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}
.g-color-palettes .data-list .data-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1;
          flex: 1 0 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  width: 130px;
  height: 130px;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}
.g-color-palettes .data-list .data-item .data-name {
  font-size: 14px;
  line-height: 1.5;
}
.g-color-palettes .data-list .data-item .data-code {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}
.g-color-palettes .data-list .data-item.system-0 {
  background-color: #000000;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.system-10 {
  background-color: #d32f2f;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.system-20 {
  background-color: #f9a825;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.system-30 {
  background-color: #4caf50;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.system-40 {
  background-color: #0091ea;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.system-100 {
  background-color: #ffffff;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-0 {
  background-color: #000000;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-10 {
  background-color: #181818;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-20 {
  background-color: #303030;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-30 {
  background-color: #606060;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-40 {
  background-color: #767676;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-50 {
  background-color: #919191;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-60 {
  background-color: #a9a9a9;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-70 {
  background-color: #c1c1c1;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-80 {
  background-color: #d9d9d9;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-90 {
  background-color: #f2f2f2;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-95 {
  background-color: #fbfbfb;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.base-100 {
  background-color: #ffffff;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-0 {
  background-color: #000000;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-10 {
  background-color: #052538;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-20 {
  background-color: #003553;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-30 {
  background-color: #014F7D;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-40 {
  background-color: #016AA6;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-50 {
  background-color: #0184D0;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-60 {
  background-color: #41A3DC;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-70 {
  background-color: #73BCE5;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-80 {
  background-color: #A6D4EF;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-90 {
  background-color: #D9EDF8;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-95 {
  background-color: #F2F9FC;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.primary-100 {
  background-color: #ffffff;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-0 {
  background-color: #000000;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-10 {
  background-color: #4D1200;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-20 {
  background-color: #801E00;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-30 {
  background-color: #B22A00;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-40 {
  background-color: #FF3C00;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-50 {
  background-color: #FF5926;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-60 {
  background-color: #FF764D;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-70 {
  background-color: #FFA78C;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-80 {
  background-color: #FFCEBF;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-90 {
  background-color: #FFE6DE;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-95 {
  background-color: #FFF3F0;
  color: var(--base-100);
}
.g-color-palettes .data-list .data-item.secondary-100 {
  background-color: #ffffff;
  color: var(--base-100);
}

.g-icon-list .data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #f7f7f7;
}
.g-icon-list .data-list .data-item {
  width: 64px;
}
.g-icon-list .data-list .data-item:hover .data-name::before {
  background-color: #000;
}
.g-icon-list .data-list .data-item .data-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  word-break: break-all;
}
.g-icon-list .data-list .data-item .data-name::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  min-height: 20px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%;
          mask-position: 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #6a6a6a;
  -webkit-transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.g-icon-list .data-list .data-item.g-layout .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19.5 19C19.5 19.28 19.28 19.5 19 19.5H5C4.72 19.5 4.5 19.28 4.5 19V5C4.5 4.72 4.72 4.5 5 4.5H19C19.28 4.5 19.5 4.72 19.5 5V19ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19.5 19C19.5 19.28 19.28 19.5 19 19.5H5C4.72 19.5 4.5 19.28 4.5 19V5C4.5 4.72 4.72 4.5 5 4.5H19C19.28 4.5 19.5 4.72 19.5 5V19ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-layout .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19.5 19C19.5 19.28 19.28 19.5 19 19.5H5C4.72 19.5 4.5 19.28 4.5 19V5C4.5 4.72 4.72 4.5 5 4.5H19C19.28 4.5 19.5 4.72 19.5 5V19ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19.5 19C19.5 19.28 19.28 19.5 19 19.5H5C4.72 19.5 4.5 19.28 4.5 19V5C4.5 4.72 4.72 4.5 5 4.5H19C19.28 4.5 19.5 4.72 19.5 5V19ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-pin .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-pin .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-heart .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-heart .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-chevron-down .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-chevron-down .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-menu .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M20 7.25C20 6.836 19.664 6.5 19.25 6.5H4.75C4.336 6.5 4 6.836 4 7.25C4 7.664 4.336 8 4.75 8H19.25C19.664 8 20 7.664 20 7.25ZM20 16.75C20 16.336 19.664 16 19.25 16H4.75C4.336 16 4 16.336 4 16.75C4 17.164 4.336 17.5 4.75 17.5H19.25C19.664 17.5 20 17.164 20 16.75ZM19.25 11.5C19.664 11.5 20 11.836 20 12.25C20 12.664 19.664 13 19.25 13H4.75C4.336 13 4 12.664 4 12.25C4 11.836 4.336 11.5 4.75 11.5H19.25Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M20 7.25C20 6.836 19.664 6.5 19.25 6.5H4.75C4.336 6.5 4 6.836 4 7.25C4 7.664 4.336 8 4.75 8H19.25C19.664 8 20 7.664 20 7.25ZM20 16.75C20 16.336 19.664 16 19.25 16H4.75C4.336 16 4 16.336 4 16.75C4 17.164 4.336 17.5 4.75 17.5H19.25C19.664 17.5 20 17.164 20 16.75ZM19.25 11.5C19.664 11.5 20 11.836 20 12.25C20 12.664 19.664 13 19.25 13H4.75C4.336 13 4 12.664 4 12.25C4 11.836 4.336 11.5 4.75 11.5H19.25Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.g-menu .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M20 7.25C20 6.836 19.664 6.5 19.25 6.5H4.75C4.336 6.5 4 6.836 4 7.25C4 7.664 4.336 8 4.75 8H19.25C19.664 8 20 7.664 20 7.25ZM20 16.75C20 16.336 19.664 16 19.25 16H4.75C4.336 16 4 16.336 4 16.75C4 17.164 4.336 17.5 4.75 17.5H19.25C19.664 17.5 20 17.164 20 16.75ZM19.25 11.5C19.664 11.5 20 11.836 20 12.25C20 12.664 19.664 13 19.25 13H4.75C4.336 13 4 12.664 4 12.25C4 11.836 4.336 11.5 4.75 11.5H19.25Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M20 7.25C20 6.836 19.664 6.5 19.25 6.5H4.75C4.336 6.5 4 6.836 4 7.25C4 7.664 4.336 8 4.75 8H19.25C19.664 8 20 7.664 20 7.25ZM20 16.75C20 16.336 19.664 16 19.25 16H4.75C4.336 16 4 16.336 4 16.75C4 17.164 4.336 17.5 4.75 17.5H19.25C19.664 17.5 20 17.164 20 16.75ZM19.25 11.5C19.664 11.5 20 11.836 20 12.25C20 12.664 19.664 13 19.25 13H4.75C4.336 13 4 12.664 4 12.25C4 11.836 4.336 11.5 4.75 11.5H19.25Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.bullet-dot .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.bullet-dot .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-left-last .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-left-last .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-left .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-left .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-right-last .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-right-last .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-right .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-right .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-up .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-up .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-down .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.chevron-down .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.check .data-name::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E");
}
.g-icon-list .data-list .data-item.check .data-name:hover::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E");
}

.g-folder-tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.g-folder-tree p {
  font-size: 18px;
  font-weight: 700;
}
.g-folder-tree .tree-list {
  padding-left: 10px;
}
.g-folder-tree .tree-list li {
  position: relative;
  line-height: 1.7;
  padding: 0 0 0 44px;
}
.g-folder-tree .tree-list li::before {
  content: "└ ";
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
}
.g-folder-tree .tree-list li::after {
  content: "🗂️ ";
  position: absolute;
  top: 1px;
  left: 20px;
  display: block;
}
.g-folder-tree .tree-list .tree-depth {
  padding: 0 0 0 0;
}
.g-folder-tree .tree-list .tree-depth:last-child li {
  margin-left: -20px;
}

.highlight-js {
  margin: 0;
  padding: 0;
}
.highlight-js .hljs {
  padding: 16px;
}

.g-component {
  border: 1px solid #efefef;
}
.g-component .g-component-area {
  padding: 20px;
}
.g-component .g-component-area .g-component-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.g-component .g-component-area .g-component-wrap .g-title-s {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.g-component .g-component-area .g-component-wrap .g-title-s:not(:first-child) {
  margin-top: 12px;
}
.g-component .g-component-area .g-component-wrap .g-form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 100%;
}

.g-toggle:not(.active) .toggle-body {
  display: none;
}
.g-toggle .toggle-wrap .toggle-head .btn-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 12px;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.g-toggle .toggle-wrap .toggle-head .btn-toggle::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.g-data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.g-data-list .data-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  position: relative;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.g-data-list .data-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center/cover;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center/cover;
  background-color: rgb(0, 0, 0);
}