$iconList: (
	chevron-left-last: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'"
	),
	chevron-left: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'"
	),
	chevron-right-last: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'"
	),
	chevron-right: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'"
	),
	chevron-up: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'"
	),
	chevron-down: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'"
	),
	pushpin: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' d='M16.558 15.609c-.224-.944-.68-1.576-1.37-1.897l2.51-5.376c.361.169.736.182 1.125.039.388-.143.668-.396.837-.76a1.43 1.43 0 0 0 .045-1.13 1.41 1.41 0 0 0-.753-.837l-6.679-3.111a1.413 1.413 0 0 0-1.125-.039 1.43 1.43 0 0 0-.838.76 1.43 1.43 0 0 0-.045 1.13c.14.39.392.668.753.837L8.51 10.6c-.69-.32-1.467-.264-2.335.171a4.03 4.03 0 0 0-1.905 1.944.714.714 0 0 0-.022.565c.07.195.195.334.376.418l4.216 1.964-1.583 5.462c-.054.205.013.352.201.439l.01.005a.321.321 0 0 0 .256.01.43.43 0 0 0 .21-.164l2.9-4.823 4.476 2.086c.181.084.369.09.563.02a.715.715 0 0 0 .419-.38 4.03 4.03 0 0 0 .266-2.708Z'"
	),
	search: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M15.998 10.498a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Zm-1.107 5.45a7 7 0 1 1 1.058-1.058.857.857 0 0 1 .037.035l3.986 3.986.53.53-1.06 1.06-.531-.53-3.986-3.985a.802.802 0 0 1-.035-.037Z' clip-rule='evenodd'"
	),
	delete-circle: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18ZM8.842 7.781 12 10.94l3.158-3.158 1.06 1.06L13.062 12l3.158 3.158-1.06 1.06L12 13.062 8.842 16.22l-1.06-1.06L10.938 12 7.781 8.842l1.06-1.06Z' clip-rule='evenodd'"
	),
	attatchment: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='M16 7.609v8.303C16 18.172 14.36 20 11.94 20 9.564 20 8 18.216 8 15.912V6.578C8 5.15 9.208 4 10.709 4c1.5 0 2.708 1.15 2.708 2.578v9.498c0 .712-.606 1.289-1.354 1.289-.748 0-1.354-.577-1.354-1.29V7.61'"
	),
	calendar: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.75 4v2h6.5V4h1.5v2H20v14H4V6h3.25V4h1.5Zm6.5 3.5V9h1.5V7.5h1.75V10h-13V7.5h1.75V9h1.5V7.5h6.5Zm-9.75 4v7h13v-7h-13Z' clip-rule='evenodd'"
	),
	arrow-left: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='m8.91 11.25 3.72-3.72-1.06-1.06-5 5-.53.53.53.53 5 5 1.06-1.06-3.72-3.72h9.69v-1.5H8.91Z' clip-rule='evenodd'"
	),
	arrow-right: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M15.89 12.75H6.2v-1.5h9.69l-3.72-3.72 1.06-1.06 5 5 .53.53-.53.53-5 5-1.06-1.06 3.72-3.72Z' clip-rule='evenodd'"
	),
	link-external: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M19.995 4.755v-.75h-6.029v1.5h3.468l-6.418 6.417-.53.53 1.06 1.061.53-.53 6.42-6.418V9.58h1.5V4.755Zm-15.24-.75h-.75v15.99h15.99v-8.228h-1.5v6.728H5.505V5.505h6.728v-1.5H4.755Z' clip-rule='evenodd'"
	),
	upload: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' d='M5.619 16.655a.75.75 0 0 0 0-1.5v1.5Zm.335-6.563-.082.746a.75.75 0 0 0 .832-.745h-.75Zm0-.018v-.75a.75.75 0 0 0-.75.75h.75Zm.042 0v.75a.75.75 0 0 0 .744-.843l-.744.093Zm10.016-3.308-.653.368a.75.75 0 0 0 .762.374l-.11-.742Zm1.814 8.233a.75.75 0 0 0 .397 1.446L17.826 15Zm-6.724 4.972v.75h1.5v-.75h-1.5Zm.75-7.714.538-.522a.75.75 0 0 0-1.077 0l.539.522Zm-3.623 2.66a.75.75 0 1 0 1.077 1.044l-1.077-1.044ZM14.4 15.96a.75.75 0 1 0 1.077-1.045L14.4 15.961Zm-8.781-.806c-1.33 0-2.273-.874-2.273-2.058h-1.5c0 2.154 1.764 3.558 3.773 3.558v-1.5Zm-2.273-2.058a2.273 2.273 0 0 1 2.273-2.273v-1.5a3.773 3.773 0 0 0-3.773 3.773h1.5Zm2.273-2.273c.086 0 .17.005.253.014l.165-1.491a3.806 3.806 0 0 0-.418-.023v1.5Zm1.085-.732v-.018h-1.5v.018h1.5Zm-.75.732h.042v-1.5h-.042v1.5Zm.786-.843a4.677 4.677 0 0 1-.036-.579h-1.5c0 .259.017.514.048.765L6.74 9.98Zm-.036-.579a4.624 4.624 0 0 1 4.624-4.623v-1.5a6.124 6.124 0 0 0-6.124 6.123h1.5Zm4.624-4.623a4.62 4.62 0 0 1 4.03 2.355l1.307-.737a6.122 6.122 0 0 0-5.337-3.118v1.5Zm4.793 2.729a3.99 3.99 0 0 1 .581-.043v-1.5c-.271 0-.538.02-.8.059l.219 1.484Zm.581-.043a3.952 3.952 0 0 1 3.952 3.953h1.5a5.452 5.452 0 0 0-5.452-5.453v1.5Zm3.952 3.953c0 1.763-1.164 3.123-2.828 3.58l.397 1.447c2.242-.617 3.931-2.516 3.931-5.027h-1.5Zm-8.052 8.553v-7.714h-1.5v7.714h1.5Zm-1.289-8.236L8.23 14.917l1.077 1.044 3.084-3.182-1.077-1.044Zm0 1.044L14.4 15.96l1.077-1.045-3.087-3.181-1.077 1.044Z'"
	),
	check: (size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'"
	),
	menu: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M5 6.75h14v1.5H5v-1.5Zm0 4.5h14v1.5H5v-1.5Zm.75 4.5H5v1.5h14v-1.5H5.75Z' clip-rule='evenodd'"
	),
	mypage: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M15.375 9a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm-1.5 0a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Z' clip-rule='evenodd'/%3E%3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M18 19.686A9.733 9.733 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.734 9.734 0 0 0 3.781 7.71A9.707 9.707 0 0 0 12 21.75a9.709 9.709 0 0 0 6-2.064Zm-1.5-.77A8.212 8.212 0 0 1 12 20.25a8.21 8.21 0 0 1-4.5-1.334v-.236A3.68 3.68 0 0 1 11.18 15h1.64a3.68 3.68 0 0 1 3.68 3.68v.236Zm1.417-1.167A5.181 5.181 0 0 0 12.82 13.5h-1.64a5.181 5.181 0 0 0-5.097 4.25 8.25 8.25 0 1 1 11.833 0Z' clip-rule='evenodd'"
	),
	mypage-on: (size: "24 24",
		path: "fill='rgba(18, 18, 18, 1)' fill-rule='evenodd' d='M15.847 20.962A9.719 9.719 0 0 1 12 21.75a9.707 9.707 0 0 1-5.969-2.04A9.734 9.734 0 0 1 2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75a9.736 9.736 0 0 1-.528 3.173 3.978 3.978 0 0 0-1.386-.585A8.25 8.25 0 1 0 6.083 17.75a5.181 5.181 0 0 1 5.097-4.25h1.64c1.538 0 2.92.67 3.869 1.735a4.023 4.023 0 0 0-1.044 1.086A3.672 3.672 0 0 0 12.82 15h-1.64a3.68 3.68 0 0 0-3.68 3.68v.236A8.212 8.212 0 0 0 12 20.25a8.22 8.22 0 0 0 3.16-.627c.143.492.38.945.687 1.339ZM12 12.375a3.375 3.375 0 1 0 0-6.75 3.375 3.375 0 0 0 0 6.75Zm0-1.5a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75Z' clip-rule='evenodd'/%3E%3Ccircle cx='19' cy='18.5' r='2.5' fill='%23E50060'"
	),
	sign-up: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M10.5 10.125a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75Zm0 1.5a3.375 3.375 0 1 0 0-6.75 3.375 3.375 0 0 0 0 6.75Zm.656 2.625c.378 0 .743.055 1.088.156h2.78a5.328 5.328 0 0 0-3.868-1.656H9.844A5.344 5.344 0 0 0 4.5 18.094v1.781h1.484V18l.017-.01a3.844 3.844 0 0 1 3.843-3.74h1.312Zm5.531 5.375v-2.25h-2.25v-1.5h2.25v-2.25h1.5v2.25h2.25v1.5h-2.25v2.25h-1.5Z' clip-rule='evenodd'"
	),
	login: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M19.5 4.25c.69 0 1.25.56 1.25 1.25v13c0 .69-.56 1.25-1.25 1.25h-6.75v-1.5h6.5V5.75h-6.5v-1.5h6.75Zm-8.952 3.22a.75.75 0 0 0-1.063 1.06l2.71 2.72H3.25v1.5h8.944l-2.71 2.72a.75.75 0 0 0 1.064 1.06l3.983-4a.75.75 0 0 0 0-1.06l-3.983-4Z' clip-rule='evenodd'"
	),
	logout: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M4.5 4.25c-.69 0-1.25.56-1.25 1.25v13c0 .69.56 1.25 1.25 1.25h6.75v-1.5h-6.5V5.75h6.5v-1.5H4.5Zm12.048 3.22a.75.75 0 0 0-1.063 1.06l2.71 2.72H9.25v1.5h8.945l-2.71 2.72a.75.75 0 0 0 1.063 1.06l3.983-4a.75.75 0 0 0 0-1.06l-3.983-4Z' clip-rule='evenodd'"
	),
	close: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='m10.94 12-4.774 4.773 1.061 1.06L12 13.062l4.773 4.773 1.06-1.061L13.062 12l4.773-4.773-1.061-1.06L12 10.938 7.227 6.166l-1.06 1.061L10.938 12Z' clip-rule='evenodd'"
	),
	arrow-up: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M13 5.545V22a1 1 0 1 1-2 0V5.546L6.636 9.909a.9.9 0 1 1-1.272-1.273L12 2l6.636 6.636a.9.9 0 1 1-1.272 1.273L13 5.545Z' clip-rule='evenodd'"
	),
	eye-open: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 19.25c7.72 0 10-7.25 10-7.25s-2.28-7.25-10-7.25C4.28 4.75 2 12 2 12s2.28 7.25 10 7.25ZM15.5 12c0 1.512-1.414 3-3.5 3-2.086 0-3.5-1.488-3.5-3S9.914 9 12 9c2.086 0 3.5 1.488 3.5 3Zm1.5 0c0 2.485-2.239 4.5-5 4.5S7 14.485 7 12s2.239-4.5 5-4.5 5 2.015 5 4.5Z' clip-rule='evenodd'"
	),
	eye-closed: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='m5.234 4.462-.53-.53-1.06 1.06.53.531 1.408 1.408C2.922 9.066 2 12 2 12s2.28 7.25 10 7.25c1.913 0 3.492-.445 4.786-1.115l2.388 2.388.53.53 1.06-1.06-.53-.53-15-15Zm9.298 11.42-1.129-1.13c-.42.158-.891.248-1.403.248-2.086 0-3.5-1.488-3.5-3 0-.562.196-1.121.549-1.602L7.978 9.327A4.191 4.191 0 0 0 7 12c0 2.485 2.239 4.5 5 4.5.924 0 1.79-.226 2.532-.619ZM11.75 9.006l3.66 3.66c.059-.219.09-.443.09-.667 0-1.512-1.414-3-3.5-3a4.3 4.3 0 0 0-.25.007ZM17 12c0 .65-.154 1.27-.43 1.828l2.588 2.587C21.25 14.382 22 12 22 12s-2.28-7.25-10-7.25c-1.463 0-2.73.26-3.825.683l2.285 2.284A5.507 5.507 0 0 1 12 7.5c2.761 0 5 2.015 5 4.5Z' clip-rule='evenodd'"
	),
	caret-up: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' d='m12.538 8.445 5.505 6.607a.7.7 0 0 1-.537 1.148H6.495a.7.7 0 0 1-.538-1.148l5.505-6.607a.7.7 0 0 1 1.076 0Z'"
	),
	caret-down: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' d='m12.426 15.58 5.582-6.37a.7.7 0 0 0-.512-1.161l-10.979-.22a.7.7 0 0 0-.555 1.144l5.396 6.588a.7.7 0 0 0 1.068.018Z'"
	),
	delete: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M10 3.5a1.75 1.75 0 0 0-1.75 1.75v1.239h-3.5a.75.75 0 0 0 0 1.5h1.089L7.23 18.845a.75.75 0 0 0 .744.655h8.05a.75.75 0 0 0 .744-.655L18.16 7.99h1.089a.75.75 0 0 0 0-1.5h-3.5V5.25A1.75 1.75 0 0 0 14 3.5h-4Zm4.869 4.489a.755.755 0 0 0 .262 0h1.518L15.365 18h-6.73L7.351 7.989h1.518a.754.754 0 0 0 .262 0h5.738Zm-.619-1.5V5.25A.25.25 0 0 0 14 5h-4a.25.25 0 0 0-.25.25v1.239h4.5Z' clip-rule='evenodd'"
	),
	loading: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.25 4v4h1.5V4h-1.5Zm0 12v4h1.5v-4h-1.5Zm3.048-7.358 2.828-2.829 1.06 1.061-2.828 2.829-1.06-1.061Zm-5.656 5.656-2.829 2.828 1.061 1.06 2.829-2.828-1.061-1.06ZM16 11.25h4v1.5h-4v-1.5Zm-8 0H4v1.5h4v-1.5Zm7.358 3.048 2.829 2.828-1.06 1.06-2.83-2.828 1.061-1.06ZM9.703 8.642 6.874 5.813l-1.06 1.061 2.828 2.829 1.06-1.061Z' clip-rule='evenodd'"
	),
	write: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M16.41 5.816a1.077 1.077 0 1 1 1.524 1.523L7.313 17.961l-2.032.508.508-2.032L16.41 5.816ZM17.173 4c-.683 0-1.339.272-1.822.755L4.58 15.524a.75.75 0 0 0-.197.348l-.862 3.446a.75.75 0 0 0 .91.91l3.446-.862a.75.75 0 0 0 .348-.197L18.996 8.4A2.578 2.578 0 0 0 17.172 4ZM12 19a.75.75 0 0 0 0 1.5h7.75a.75.75 0 1 0 0-1.5H12Z' clip-rule='evenodd'"
	),
	alert-circle: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.999 3.998A8.16 8.16 0 0 0 6.312 6.43 7.9 7.9 0 0 0 4 12.138a7.854 7.854 0 0 0 7.867 7.86H12a8.074 8.074 0 0 0 8-8.14 7.848 7.848 0 0 0-8-7.86Zm-1 11.026a.986.986 0 0 1 1-1.026 1.02 1.02 0 0 1 .95 1.367.98.98 0 0 1-.917.633A1.02 1.02 0 0 1 11 15.024Zm.333-2.666v-4a.666.666 0 1 1 1.334 0v4a.667.667 0 1 1-1.334 0Z' clip-rule='evenodd'"
	),
	arrow-diagonal: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M14.005 8.684h-5.26v-1.5h7.82v7.821h-1.5v-5.26l-6.85 6.851-1.061-1.06 6.851-6.852Z' clip-rule='evenodd'"
	),
	plus: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.25 12.75V18h1.5v-5.25H18v-1.5h-5.25V6h-1.5v5.25H6v1.5h5.25Z' clip-rule='evenodd'"
	),
	minus: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M18 12.75H6v-1.5h12v1.5Z' clip-rule='evenodd'"
	),
	bot: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M9.857 5.384a2.143 2.143 0 1 1 3.107 1.914v1.89H16.5a3.214 3.214 0 0 1 3.214 3.214v5.143A3.215 3.215 0 0 1 16.5 20.76h-9a3.214 3.214 0 0 1-3.214-3.215v-5.143A3.214 3.214 0 0 1 7.5 9.188h3.536v-1.89a2.144 2.144 0 0 1-1.18-1.914Zm4.978 11.989a.806.806 0 0 0-.3-1.303.802.802 0 0 0-.87.2c-.29.308-.909.544-1.665.544s-1.376-.237-1.665-.544a.802.802 0 0 0-1.137-.034.805.805 0 0 0-.033 1.137c.71.752 1.841 1.048 2.835 1.048s2.125-.296 2.835-1.048Zm-5.352-2.748a.964.964 0 1 0 0-1.928.964.964 0 0 0 0 1.928Zm5.999-.964a.964.964 0 1 1-1.929 0 .964.964 0 0 1 1.929 0Z' clip-rule='evenodd'"
	),
	chat-smile: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.998 4.352A7.648 7.648 0 1 1 8.81 18.95L5 19.639a.551.551 0 0 1-.614-.736l1.093-2.908a7.648 7.648 0 0 1 6.519-11.643ZM9.52 10.14a.827.827 0 1 0 0-1.653.827.827 0 0 0 0 1.653Zm5.752-.826a.827.827 0 1 1-1.653 0 .827.827 0 0 1 1.653 0Zm.585 3.237a3.857 3.857 0 1 1-7.714 0h7.714Z' clip-rule='evenodd'"
	),
	ai-search: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.357 4.929a6.429 6.429 0 1 0 0 12.857 6.429 6.429 0 0 0 0-12.857ZM3 11.357a8.357 8.357 0 1 1 15.106 4.93l2.517 2.518a1.286 1.286 0 1 1-1.818 1.818l-2.517-2.517A8.358 8.358 0 0 1 3 11.357Zm7.38-3.381c.231-1.06 1.738-1.066 1.979-.01l.011.05a2.925 2.925 0 0 0 2.369 2.309c1.104.191 1.104 1.777 0 1.968a2.925 2.925 0 0 0-2.353 2.232l-.029.126c-.24 1.056-1.748 1.05-1.98-.009l-.023-.108a2.908 2.908 0 0 0-2.342-2.242c-1.102-.193-1.102-1.774 0-1.967a2.907 2.907 0 0 0 2.34-2.23l.016-.08.01-.04h.002Z' clip-rule='evenodd'"
	),
	direct-right: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.971 18.388a.941.941 0 1 0 1.331 1.331l7.059-7.058a.941.941 0 0 0 0-1.331l-7.059-7.06a.941.941 0 1 0-1.331 1.332l5.642 5.642-14.619-.737c-.9 0-1.63.665-1.63 1.486 0 .82.73 1.486 1.63 1.486l14.624-.738-5.647 5.647Z' clip-rule='evenodd'"
	),
	direct-bottom: (size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M5.607 12.966a.941.941 0 1 0-1.331 1.331l7.059 7.059a.941.941 0 0 0 1.33 0l7.06-7.059a.941.941 0 1 0-1.332-1.33l-5.642 5.641.737-14.619c0-.9-.665-1.63-1.486-1.63-.82 0-1.486.73-1.486 1.63l.738 14.624-5.647-5.647Z' clip-rule='evenodd'"
	),
	// name: (
	// 	size: "24 24",
	// 	path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='' clip-rule='evenodd'"
	// ),
);

@function icon($iconName, $color: 222222) {
	$size: map-get($iconList, $iconName, 'size');
	$path: map-get($iconList, $iconName, 'path');

	@return url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}'%3E %3Cpath #{$path}/%3E%3C/svg%3E");
}



// 사용방법
// name: (
// 	size: "20 20",
// 	path: "fill='%23#{$color}' clip-rule='evenodd' fill-rule='evenodd' d=''"
// )

// &.icon-check {
// 	mask-image: icon(check);

// 아래 아님(참고용)
// 	--icon-color: var(--base-020);
// 	mask-image: icon(check, '#{var(--icon-color)}');
// 	mask-image: url(../../front/images/settings.svg);
// }