$iconList: (
	g-layout: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19.5 19C19.5 19.28 19.28 19.5 19 19.5H5C4.72 19.5 4.5 19.28 4.5 19V5C4.5 4.72 4.72 4.5 5 4.5H19C19.28 4.5 19.5 4.72 19.5 5V19ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 5.5H6.5C5.95 5.5 5.5 5.95 5.5 6.5V11C5.5 11.55 5.95 12 6.5 12H17.5C18.05 12 18.5 11.55 18.5 11V6.5C18.5 5.95 18.05 5.5 17.5 5.5ZM17 10.5H7V7H17V10.5ZM10.5 13.5H6.5C5.95 13.5 5.5 13.95 5.5 14.5V17.5C5.5 18.05 5.95 18.5 6.5 18.5H10.5C11.05 18.5 11.5 18.05 11.5 17.5V14.5C11.5 13.95 11.05 13.5 10.5 13.5ZM10 17H7V15H10V17ZM17.5 13.5H13.5C12.95 13.5 12.5 13.95 12.5 14.5V17.5C12.5 18.05 12.95 18.5 13.5 18.5H17.5C18.05 18.5 18.5 18.05 18.5 17.5V14.5C18.5 13.95 18.05 13.5 17.5 13.5ZM17 17H14V15H17V17Z' clip-rule='evenodd'"
	),
	g-pin: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'"
	),
	g-heart: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'"
	),
	g-chevron-down: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M6.22781 8.22499C5.92406 8.52499 5.92406 9.01137 6.22781 9.31137L12 15L17.7722 9.31137C18.0759 9.01137 18.0759 8.52499 17.7722 8.225C17.4685 7.925 16.976 7.925 16.6723 8.225L12 12.8273L7.32775 8.225C7.02401 7.925 6.53155 7.925 6.22781 8.22499Z' clip-rule='evenodd'"
	),
	g-menu: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M20 7.25C20 6.836 19.664 6.5 19.25 6.5H4.75C4.336 6.5 4 6.836 4 7.25C4 7.664 4.336 8 4.75 8H19.25C19.664 8 20 7.664 20 7.25ZM20 16.75C20 16.336 19.664 16 19.25 16H4.75C4.336 16 4 16.336 4 16.75C4 17.164 4.336 17.5 4.75 17.5H19.25C19.664 17.5 20 17.164 20 16.75ZM19.25 11.5C19.664 11.5 20 11.836 20 12.25C20 12.664 19.664 13 19.25 13H4.75C4.336 13 4 12.664 4 12.25C4 11.836 4.336 11.5 4.75 11.5H19.25Z' clip-rule='evenodd'"
	),
	// bullet
	bullet-dot: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12 11C13.1046 11 14 11.8954 14 13C14 14.1046 13.1046 15 12 15C10.8954 15 10 14.1046 10 13C10 11.8954 10.8954 11 12 11Z' clip-rule='evenodd'"
	),
	// arrow
	chevron-left-last: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'"
	),
	chevron-left: (
		size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'"
	),
	chevron-right-last: (
		size: "24 24",
		path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'"
	),
	chevron-right: (
		size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'"
	),
	chevron-up: (
		size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m16.5 14.5-5-5-5 5'"
	),
	chevron-down: (
		size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'"
	),
	check: (
		size: "24 24",
		path: "fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'"
	),
	// name: (
	// 	size: "24 24",
	// 	path: "fill='rgba(0,0,0,1)' fill-rule='evenodd' d='' clip-rule='evenodd'"
	// ),
);

@function icon($iconName, $color: 000000) {
	$size: map-get($iconList, $iconName, 'size');
	$path: map-get($iconList, $iconName, 'path');

	@return url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}'%3E %3Cpath #{$path}/%3E%3C/svg%3E");
	// @return url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}' #{$path}/%3E%3C/svg%3E");
	// @return url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}'%3E %3Cpath #{$path}/%3E%3C/svg%3E");
}

// 사용방법
// name: (
// 	size: "20 20",
// 	path: "fill='%23#{$color}' clip-rule='evenodd' fill-rule='evenodd' d=''"
// )

// &.icon-check {
// 	mask-image: icon(check);