$color-palettes: (
	system: (
		000: #000000,
		010: #d32f2f,
		020: #f9a825,
		030: #4caf50,
		040: #0091ea,
		100: #ffffff
	),
	base: (
		000: #000000,
		010: #181818,
		020: #303030,
		030: #606060,
		040: #767676,
		050: #919191,
		060: #a9a9a9,
		070: #c1c1c1,
		080: #d9d9d9,
		090: #f2f2f2,
		095: #fbfbfb,
		100: #ffffff
	),
	primary: (
		000: #000000,
		010: #052538,
		020: #003553,
		030: #014F7D,
		040: #016AA6,
		050: #0184D0,
		060: #41A3DC,
		070: #73BCE5,
		080: #A6D4EF,
		090: #D9EDF8,
		095: #F2F9FC,
		100: #ffffff
	),
	secondary: (
		000: #000000,
		010: #4D1200,
		020: #801E00,
		030: #B22A00,
		040: #FF3C00,
		050: #FF5926,
		060: #FF764D,
		070: #FFA78C,
		080: #FFCEBF,
		090: #FFE6DE,
		095: #FFF3F0,
		100: #ffffff
	),
);

// Create Color ex) color(base, 010, 0.5), color(base, 010);
@function color($theme: normal, $variant: 00, $opacity: 1) {
	$set-color: map-get($color-palettes, $theme, $variant);
	$create-color: rgba(red($set-color), green($set-color), blue($set-color), $opacity);
	@return $create-color;
}

// $colors: (
// 	base-000: var(--base-000),
// 	base-010: var(--base-010),
// 	base-020: var(--base-020),
// 	base-030: var(--base-030),
// 	base-040: var(--base-040),
// 	base-050: var(--base-050),
// 	base-100: var(--base-100),
// 	primary-010: var(--prim-010),
// 	secondary-010: var(--seco-010),
// 	system-010: var(--system-010),
// 	system-020: var(--system-020),
// 	line-010: var(--line-010),
// 	line-020: var(--line-020),
// 	bg-010: var(--bg-010),
// 	bg-011: var(--bg-011),
// );

$breakpoints: (
	frame: 1920px,
	container: 1360px,
	wide: 2560px,
	laptop-l: 1440px,
	laptop: 1280px,
	tablet: 1024px,
	mobile: 768px,
	// mobile-m: 460px,
	mobile-s: 360px,

	// breakpoint-xl: 2560px,
	// // laptop 4K
	// breakpoint-lg: 1440px,
	// // laptop
	// breakpoint-ml: 1280px,
	// // tablet
	// breakpoint-md: 1024px,
	// // tablet
	// breakpoint-sm: 768px,
	// // mobile
	// breakpoint-xs: 360px,
	// // mobile small
);