@import 'g.include';

// 모든 요소
.g-table-display {
	table {
        width: 100%;
		border-collapse: collapse;

		thead {
			th {
				padding: 16px;
				border-bottom: 1px solid #dfdfdf;
				background-color: #f7f7f7;
			}
		}

		tbody {
			th, td {
				padding: 12px 20px;
				border-bottom: 1px solid #ebebeb;
				font-size: 14px;
				text-align: center;
			}

			th {
				font-weight: 600;
			}

			.align-a {
				text-align: left;
			}
		}
	}
}

.g-color-palettes {
	.data-list {
		display: flex;
		gap: 4px;

		.data-item {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 4px;
			max-width: 130px;
			height: 130px;
			padding: 20px 10px;
			box-sizing: border-box;
			border-radius: 50%;

			.data-name {
				font-size: 14px;
				line-height: 1.5;
			}

			.data-code {
				font-size: 14px;
				line-height: 1.4;
				text-align: center;
			}

			
			@each $palette-name, $palette in $color-palettes {
				@each $name, $color in $palette {
					&.#{$palette-name}-#{$name} {
						background-color: $color;
						color: var(--base-100);
					}
				}
			}
		}
	}
}

.g-icon-list {
	.data-list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		padding: 0 20px;
		border-radius: 4px;
		background-color: #f7f7f7;

		.data-item {
			width: 64px;

			&:hover {
				.data-name {
					&::before {
						background-color: #000;
					}
				}
			}
			
			.data-name {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 12px;
				padding: 20px 0;
				font-size: 14px;

				&::before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					min-height: 20px;
					mask-repeat: no-repeat;
					mask-position: 50%;
					mask-size: cover;
					background-color: #6a6a6a;
					transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}

			@each $iconName, $color in $iconList {
				&.#{$iconName} {
					.data-name {
						&::before {
							mask-image: icon($iconName);
						}
		
						&:hover {
							&::before {
								mask-image: icon($iconName);
							}
						}
					}
				}
			}
		}
	}
}