@import 'include/_g.include';

body {
	@include overflow-scroll(default, dark, large, y);
}

#g-wrap {
	display: flex;
	position: relative;
}

.skip {
	position: fixed;
	top: -50px;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 50px;
	background-color: color(base, 0);

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: color(base, 0);
		color: color(base, 100);
		text-decoration: underline;
		text-align: center;

		&:not(:focus) {
			top: -50px
		}
	}

	&:focus-within {
		top: 0;
	}
}	

#g-navi {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 240px;
	background-color: #fff;

	.g-navi-wrap {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100vh;
		padding: 80px 16px 32px;
		border-right: 1px solid #ececec;
		box-sizing: border-box;
	}

	.g-navi-logo {
		// flex-shrink: 0;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 48px;
		padding: 0 16px;
		box-sizing: border-box;
		border-bottom: 1px solid color(base, 090);
		background-color: #fff;

		.navi-logo {
			.logo {
				display: flex;

				svg {
					path {
						fill: #000;
					}
				}

				.logo-text {
					padding-left: 4px;
					font-size: 20px;
					font-weight: 600;
					color: #000;
				}
			}
		}

	}

	.g-navi-func {
		display: none;
		position: absolute;
		top: calc(24px - 36px / 2);
		right: 16px;

		.btn-menu {
			overflow: hidden;
			display: block;
			width: 36px;
			height: 36px;
			mask: icon(g-menu) no-repeat center/ cover;
			background-color: color(base, 0);
			text-indent: -9999px;
		}
	}

	.g-navi-list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		height: 100%;
		box-sizing: border-box;

		.g-navi-item {
			display: flex;
			flex-direction: column;

			&:not(.active) {
				.g-sub-list,
				.g-sub-item,
				.g-sub-title,
				.g-sub-name {
					height: 0;
					visibility: hidden;
					opacity: 0;
				}
			}

			&.page {
				flex-grow: 1;
				overflow: hidden;

				.g-sub-list {
					@include overflow-scroll(default, dark, large, y);
				}

				.g-navi-link,
				.g-navi-subject {
					&::before {
						mask: icon(g-layout)
					}

					&::after {
						mask: icon(chevron-up);
					}
				}
			}

			.g-navi-link,
			.g-navi-subject {
				display: flex;
				align-items: center;
				gap: 4px;
				width: 100%;
				padding: 10px 0;
				font-weight: 500;
				text-align: left;

				&::before {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					background-color: #000;
					mask: icon(g-pin);
				}

				&::after {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					margin-left: auto;
					background-color: #000;
					mask: icon(chevron-down);
				}
			}

			.g-navi-link {
				&:hover {
					text-decoration: underline;
				}
			}

			.g-sub-list {
				flex: 1 1 100%;
				// padding-left: 20px;
				// padding: 4px 12px;
				// box-sizing: border-box;
				// border-radius: 8px;

				.g-sub-item {
					.g-sub-wrap {
						+.g-sub-wrap {
							margin-top: 10px;
						}

						.g-sub-title {
							// display: inline-block;
							padding: 4px 16px;
							font-size: 12px;
							font-weight: 500;
							background-color: color(primary, 50, 0.2);
						}

						.g-sub-name {
							background-color: #fff;
							text-align: left;
						}
					}
					
					.g-sub-link {
						display: block;
						padding: 8px 16px;
						font-size: 14px;
						color: #838383;

						&:hover {
							background-color: #f3f3f3;
							color: #000;
							text-decoration: underline;
						}
						
						&.active {
							font-weight: 600;
							color: #000;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	@include respond-below(tablet) {
		bottom: auto;
		width: 100%;
		background-color: transparent;

		.g-navi-wrap {
			min-height: 48px;
			height: auto;
			padding: 0;
		}

		.g-navi-logo {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 11;
		}

		.g-navi-func {
			display: block;
			z-index: 11;

			&.checked-within {
				+.g-navi-list {
					left: -100%;
				}
			}
		}

		.g-navi-list {
			row-gap: 12px;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			margin-top: 0;
			padding: 60px 20px 20px;
			box-sizing: border-box;
			background-color: #f7f7f7;
			transition: left ease 0.5s 0.1s;
			transform: translate(100%, 0);
		}
	}
}

.g-container {
	flex: 1 1 100%;
	max-width: 100%;
	min-height: 100vh;
	padding: 30px 24px;
	padding-left: calc(240px + 24px);
	box-sizing: border-box;

	.g-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		counter-reset: my-counter;

		&.g-pages {
			.g-content-body {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		}

		.g-iframe-area {
			width: 100%;
			height: 100%;
			margin-top: 20px;

			#gFrame {
				width: 100%;
				height: 100%;
				border: 0;
				// @include overflow-scroll(default, dark, large, y);
			}
		}

		.g-content-head {
			.g-heading-s {
				color: #afafaf;

				.em {
					padding-left: 8px;
					font-size: 18px;
					color: #121212;
				}
			}
		}

		.g-content-body {
			.g-heading-m {
				display: flex;
				align-items: baseline;
				gap: 2px;

				.em {
					font-size: 24px;
					font-weight: 500;
					line-height: 1;
					color: #afafaf;
					text-transform: capitalize;
				}

				+.g-title-s,
				+.g-body-m {
					margin-top: 15px;
				}
			}

			.g-heading-s {
				margin: 20px 0;

				.em {
					font-size: 16px;
					font-weight: 400;
					color: #afafaf
				}
			}

			.g-title-s {
				display: flex;
				gap: 12px;

				+.g-title-s {
					margin-top: 4px;
				}

				.title {
					flex-shrink: 0;
				}

				.em {
					position: relative;
					padding-left: 12px;
					// border-left: 1px solid #000;

					&::before {
						content: '';
						display: block;
						position: absolute;
						top: calc((27px - 16px)/2);
						left: 0;
						width: 2px;
						height: 16px;
						background-color: #000;
					}
				}
			}

			.g-body-m {
				+.g-title-s {
					margin-top: 16px;
				}
			}

			.g-menu-area {
				margin: 40px 0;
			}

			.g-section {
				margin: 80px 0;

				&:first-of-type {
					margin: 40px 0 80px;
				}
				
				.g-section-head {
					display: flex;
					justify-content: space-between;

					.g-section-subject {
						font-size: 24px;
                        font-weight: 500;
						text-transform: capitalize;

						&::before {
							content: counter(my-counter)". ";
							counter-increment: my-counter;

						}
					}
				}

				.g-section-body {
					.g-menu-list {
						margin: 20px 0;

						.g-menu-item {
							&:not(:first-child) {
								margin-top: 4px;
							}

							&[title=미정] {
								.g-menu-head,
								.g-menu-body {
									color: #c1c1c1;
								}
							}

							&[title=진행] {
								.g-menu-head,
								.g-menu-body {
									color: #5290fd;
								}
							}

							// &[title=완료] {}

							&[title=수정] {
								.g-menu-head,
								.g-menu-body {
									color: #fd5252;
								}
							}

							.g-menu-wrap {
								display: flex;
								justify-content: space-between;
								padding: 12px;
								background-color: #f7f7f7;
								
								.g-menu-head,
								// .g-menu-body {}

								.g-menu-body {
									text-decoration: underline;								}
							}
						}
					}					
				}

				.g-table-display {
					margin: 24px 0;

					+.g-heading-s {
						margin-top: 60px;
					}
				}

				.g-color-palettes {
					margin: 16px 0 0;

					+.g-title-s {
						margin: 40px 0 0;
					}
				}

				.g-icon-list {
					margin: 10px 0;

					+.g-title-s {
						margin-top: 32px;
					}
				}

				.g-typo-area {
					display: flex;
					flex-direction: column;
					row-gap: 20px;

					.g-typo {
						display: flex;
						flex-direction: column;
						gap: 4px;

						.g-typo-title {
							color: #c1c1c1;
						}
					}
				}

				.g-icon-area {
					margin: 24px 0 0;
				}
			}

			.g-data-list {
				margin: 20px 0;
			}
		}
	}

	@include respond-below(tablet) {
		padding: 78px 24px 30px;
	}
}

// 페이지 단위 타이틀
// .g-heading-l {
// 	font-size: 48px;
// 	font-weight: 700;
// 	line-height: 150%; // 1.5
// }

.g-heading-m {
	font-size: 32px;
	font-weight: 700;
	line-height: 150%;
}

.g-heading-s {
	font-size: 24px;
	font-weight: 700;
	line-height: 150%;
}

// 템플릿, 모듈 단위 텍스트
.g-title-l {
	font-size: 28px;
	font-weight: 500;
	line-height: 150%;
}

.g-title-m {
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
}

.g-title-s {
	font-size: 18px;
	font-weight: 500;
	line-height: 150%;
}

// body 본문 텍스트
.g-body-l {
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;
}

.g-body-m {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

// .g-body-s {
// 	font-size: 14px;
// 	font-weight: 400;
// 	line-height: 150%;
// }