// 모든 요소
@import 'common/_base';
@import 'common/_vendor';

// 페이지 단위 타이틀
.heading-l {
	font-size: 56px;
	font-weight: 700;
	line-height: 150%; // 1.5
}

.heading-m {
	font-size: 48px;
	font-weight: 700;
	line-height: 150%;
}

.heading-s {
	font-size: 32px;
	font-weight: 700;
	line-height: 150%;
}

// 템플릿, 모듈 단위 텍스트
.title-l {
	font-size: 32px;
	font-weight: 700;
	line-height: 150%;
}

.title-m {
	font-size: 28px;
	font-weight: 500;
	line-height: 150%;
}

.title-s {
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
}

// body 본문 텍스트
.body-l {
	font-size: 24px;
	font-weight: 400;
	line-height: 150%;
}

.body-m {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

.body-s {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}