/**

 * Web Font

**/
/*
 * Pretendard 400, 500. 700
 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/PretendardGOV-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/PretendardGOV-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/PretendardGOV-Bold.subset.woff") format("woff");
}
/**

 * Reset

**/
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, span, a, table, thead, tfoot, tbody, th, td, form, legend, label, input, textarea, address, strong, em, pre, q, abbr, acronym, cite, blockquote, object, iframe, figure {
  margin: 0;
  padding: 0;
  font-style: normal;
}

img, fieldset, hr {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul, ol, li {
  list-style-type: none;
  list-style: none;
}

select, input, textarea {
  font-family: inherit;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

legend, caption {
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

abbr {
  text-decoration: none;
}

a {
  font: inherit;
  color: inherit;
}
a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=checkbox], input[type=radio], input[type=number] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea, select {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea:focus, select:focus {
  outline: none;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

::-moz-selection {
  background-color: #FFFA7C;
}

::selection {
  background-color: #FFFA7C;
}

body {
  font-family: "Pretendard GOV", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  /*letter-spacing: -0.5px;*/
  -webkit-text-size-adjust: none;
}

/**

 * color

**/
/**

 * typography

**/