/********************************************************************************************************************************

 * button

********************************************************************************************************************************/
.btn-a {
  --height: 52px;
  --padding: 0 26px;
  --radius: 4px;
  --fontSize: 16px;
  --fontWeight: 500;
  --lineHeight: 24px;
  --iconBg: rgb(255, 255, 255);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: var(--height);
  padding: var(--padding);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: var(--radius);
  background-color: var(--bgColor);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--color);
  text-align: center;
}
.btn-a:not(.disabled):not(:disabled) {
  --bgColor: rgb(1, 132, 208);
  --color: rgb(255, 255, 255);
}
.btn-a:hover {
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
}
.btn-a[disabled], .btn-a.disabled {
  --bgColor: rgb(217, 217, 217);
  --color: var(--base-10);
  --iconBg: rgb(255, 255, 255);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-a[disabled]:hover, .btn-a.disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-a.primary:not(.disabled):not(:disabled) {
  --bgColor: rgb(1, 132, 208);
  --color: rgb(255, 255, 255);
  --iconBg: rgb(255, 255, 255);
}
.btn-a.primary:not(.disabled):not(:disabled).type-line:not(.disabled):not(:disabled) {
  --borderColor: rgb(1, 106, 166);
  --color: rgb(1, 106, 166);
}
.btn-a.secondary:not(.disabled):not(:disabled) {
  --bgColor: rgb(255, 89, 38);
  --color: rgb(255, 255, 255);
  --iconBg: rgb(255, 255, 255);
}
.btn-a.secondary:not(.disabled):not(:disabled).type-line:not(.disabled):not(:disabled) {
  --borderColor: rgb(255, 60, 0);
  --color: rgb(255, 60, 0);
}
.btn-a.tertiary:not(.disabled):not(:disabled) {
  --bgColor: rgb(193, 193, 193);
  --color: rgb(24, 24, 24);
  --iconBg: rgb(255, 255, 255);
}
.btn-a.tertiary:not(.disabled):not(:disabled).type-line:not(.disabled):not(:disabled) {
  --borderColor: rgb(193, 193, 193);
  --color: rgb(24, 24, 24);
}
.btn-a.type-line:not(.disabled):not(:disabled) {
  --bgColor: rgb(255, 255, 255);
  border: 1px solid var(--borderColor);
}
.btn-a[class*=ico-] {
  gap: 4px;
}
.btn-a[class*=ico-]:not([class*=-ltr])::after {
  content: "";
  display: block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%;
          mask-position: 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: var(--iconBg);
}
.btn-a[class*=ico-][class*=-ltr]::before {
  content: "";
  display: block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%;
          mask-position: 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: var(--iconBg);
}
.btn-a[class*=ico-pin]::before, .btn-a[class*=ico-pin]::after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M11.4946 4.68227L9.24456 8.57939C8.36139 10.1091 6.50593 10.7197 4.91412 10.0799L4.39648 10.9765L9.37613 13.8515L5.9816 19.731L6.25616 20.7555L7.28064 20.481L10.6752 14.6015L15.6548 17.4765L16.1725 16.5799C14.8225 15.5212 14.4236 13.6091 15.3067 12.0794L17.5567 8.18227L18.8558 8.93227C19.0929 9.0692 19.4019 8.98643 19.5388 8.74926C19.6757 8.51209 19.5929 8.20318 19.3558 8.06625L10.6955 3.06625C10.4584 2.92932 10.1494 3.01209 10.0125 3.24926C9.87558 3.48643 9.95835 3.79534 10.1955 3.93227L11.4946 4.68227Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.btn-a.x-small {
  --height: 32px;
  --lineHeight: 32px;
  --fontSize: 14px;
  --padding: 0 18px;
}
.btn-a.x-small[class*=ico-] {
  --padding: 0 calc(18px - 4px) 0 18px;
}
.btn-a.x-small[class*=ico-]::before, .btn-a.x-small[class*=ico-]::after {
  width: 14px;
  height: 14px;
}
.btn-a.small {
  --height: 36px;
  --lineHeight: 36px;
  --fontSize: 14px;
  --padding: 0 18px;
}
.btn-a.small[class*=ico-] {
  --padding: 0 calc(18px - 4px) 0 18px;
}
.btn-a.small[class*=ico-]::before, .btn-a.small[class*=ico-]::after {
  width: 14px;
  height: 14px;
}
.btn-a.medium {
  --height: 52px;
  --lineHeight: 52px;
  --fontSize: 16px;
  --padding: 0 26px;
}
.btn-a.medium[class*=ico-] {
  --padding: 0 calc(26px - 4px) 0 26px;
}
.btn-a.medium[class*=ico-]::before, .btn-a.medium[class*=ico-]::after {
  width: 16px;
  height: 16px;
}
.btn-a.large {
  --height: 64px;
  --lineHeight: 64px;
  --fontSize: 20px;
  --padding: 0 32px;
}
.btn-a.large[class*=ico-] {
  --padding: 0 calc(32px - 4px) 0 32px;
}
.btn-a.large[class*=ico-]::before, .btn-a.large[class*=ico-]::after {
  width: 20px;
  height: 20px;
}
.btn-a.x-large {
  --height: 68px;
  --lineHeight: 68px;
  --fontSize: 24px;
  --padding: 0 32px;
}
.btn-a.x-large[class*=ico-] {
  --padding: 0 calc(32px - 4px) 0 32px;
}
.btn-a.x-large[class*=ico-]::before, .btn-a.x-large[class*=ico-]::after {
  width: 24px;
  height: 24px;
}
.btn-a.btn-text {
  padding: 0;
  background-color: inherit;
  border: 0;
  color: inherit;
}
.btn-a.btn-text.underline {
  text-decoration: underline;
}
.btn-a.btn-text.link {
  height: auto;
  line-height: 1;
}
.btn-a.btn-text[class*=ico-] {
  --iconBg: rgb(0, 0, 0);
  gap: 2px;
}
.btn-a.btn-text:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: underline;
}

.button-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-display.align-a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.button-display.align-b {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.button-display.align-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/********************************************************************************************************************************

 * table

********************************************************************************************************************************/
.data-table {
  width: 100%;
}
.data-table table {
  position: relative;
  width: 100%;
}
.data-table table::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}
.data-table table thead th {
  padding: 16px;
  border-bottom: 0;
  background-color: #f7f7f7;
  font-size: 14px;
}
.data-table table tbody th,
.data-table table tbody td {
  padding: 12px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  font-size: 14px;
  text-align: center;
}
.data-table table tbody th:first-child,
.data-table table tbody td:first-child {
  border-left: none;
}
.data-table table tbody th:last-child,
.data-table table tbody td:last-child {
  border-right: none;
}
.data-table table tbody th {
  font-weight: 600;
}
.data-table table tbody .align-a {
  text-align: left;
}
.data-table table tbody .align-b {
  text-align: right;
}
.data-table table tbody .align-c {
  text-align: center;
}

/********************************************************************************************************************************

 * tab

********************************************************************************************************************************/
.tab-display.style-a {
  width: 100%;
}
.tab-display.style-a .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-display.style-a .tab-list .tab-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tab-display.style-a .tab-list .tab-item.current .tab-text {
  background-color: rgb(242, 242, 242);
  color: rgb(115, 188, 229);
}
.tab-display.style-a .tab-list .tab-item.current .tab-text::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(115, 188, 229);
}
.tab-display.style-a .tab-list .tab-item .tab-text {
  display: block;
  position: relative;
  padding: 16px 0;
  -webkit-box-shadow: inset 0px -1px 0px rgb(217, 217, 217);
          box-shadow: inset 0px -1px 0px rgb(217, 217, 217);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(24, 24, 24);
  text-align: center;
  cursor: pointer;
}
.tab-display.style-b .tab-list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 8px;
  border-radius: 16px;
  background-color: rgb(242, 242, 242);
}
.tab-display.style-b .tab-list .tab-item {
  border-radius: 16px;
  background-color: rgb(251, 251, 251);
}
.tab-display.style-b .tab-list .tab-item.current {
  background-color: rgb(115, 188, 229);
}
.tab-display.style-b .tab-list .tab-item.current .tab-text {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.tab-display.style-b .tab-list .tab-item .tab-text {
  display: block;
  position: relative;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(24, 24, 24);
  text-align: center;
  cursor: pointer;
}

.tab-contents .tab-content {
  height: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.tab-contents .tab-content:not(.on) {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

/********************************************************************************************************************************

 * pagination

********************************************************************************************************************************/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination .page-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pagination .page-btn + .page-btn {
  margin-left: 8px;
}
.pagination .page-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-mask-size: 28px;
          mask-size: 28px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: rgb(0, 0, 0);
}
.pagination .page-btn.page-first::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M8.16 6v12h1.5V6h-1.5Zm9.28 1.53L12.97 12l4.47 4.47-1.06 1.06-5-5-.531-.53.53-.53 5-5 1.061 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.pagination .page-btn.page-prev::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m15.1 7-5 5 5 5'/%3E%3C/svg%3E");
}
.pagination .page-btn.page-next::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='m9.7 7 5 5-5 5'/%3E%3C/svg%3E");
}
.pagination .page-btn.page-last::before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M17.04 6v12h-1.5V6h1.5ZM7.76 7.53 12.23 12l-4.47 4.47 1.06 1.06 5-5 .53-.53-.53-.53-5-5-1.06 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.pagination .page-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin: 0 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pagination .page-num .page-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(193, 193, 193);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination .page-num .page-link:hover {
  color: rgb(0, 0, 0);
}
.pagination .page-num .page-link.current {
  color: rgb(65, 163, 220);
}
.pagination .page-num .page-link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: auto;
  width: 24px;
  height: 2px;
  background-color: rgb(65, 163, 220);
}

/********************************************************************************************************************************

 * form

********************************************************************************************************************************/
.form {
  --placeholder-color: rgb(217, 217, 217);
  --readonly-color: rgb(24, 24, 24);
  --readonly-bg-color: rgb(242, 242, 242);
  --disabled-color: rgb(169, 169, 169);
  --disabled-bg-color: rgb(242, 242, 242);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form.small.input {
  --height: 40px;
  --padding-sides: 10px;
  --line-height: 40px;
  --font-size: 14px;
}
.form.small.select {
  --height: 40px;
  --padding-sides: 10px;
  --line-height: 40px;
  --icon-size: 20px;
}
.form.small.select .form-elem {
  padding-right: 40px;
}
.form.medium.input {
  --height: 52px;
  --padding-sides: 16px;
  --line-height: 52px;
  --font-size: 16px;
}
.form.medium.select {
  --height: 52px;
  --padding-sides: 16px;
  --line-height: 52px;
  --icon-size: 24px;
}
.form.medium.select .form-elem {
  padding-right: 52px;
}
.form.large.input {
  --height: 64px;
  --padding-sides: 18px;
  --line-height: 64px;
  --font-size: 18px;
}
.form.large.select {
  --height: 64px;
  --padding-sides: 18px;
  --line-height: 64px;
  --icon-size: 28px;
}
.form.large.select .form-elem {
  padding-right: 64px;
}
.form:focus-within .form-elem {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0px 0px 0 1px rgb(24, 24, 24);
          box-shadow: inset 0px 0px 0 1px rgb(24, 24, 24);
  outline: 0;
}
.form:hover:not(.disabled, :has(:disabled)) {
  --border-color: rgb(24, 24, 24);
}
.form .form-elem {
  width: 100%;
  border: 1px solid rgb(242, 242, 242);
  background-color: rgb(251, 251, 251);
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.form .form-elem::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
.form .form-elem::-moz-placeholder {
  color: var(--placeholder-color);
}
.form .form-elem:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.form .form-elem::-ms-input-placeholder {
  color: var(--placeholder-color);
}
.form .form-elem::placeholder {
  color: var(--placeholder-color);
}
.form .form-elem[readonly] {
  color: var(--readonly-color);
  background-color: var(--readonly-bg-color);
}
.form .form-elem:disabled {
  color: var(--disabled-color);
  background-color: var(--disabled-bg-color);
}
.form .form-elem:focus {
  background-color: rgb(255, 255, 255);
}
.form.input {
  --height: 52px;
  --padding-vertical: 0;
  --padding-sides: 16px;
  --line-height: 52px;
}
.form.input .form-elem {
  height: var(--height);
  padding: var(--padding-vertical) var(--padding-sides);
}
.form.select {
  --height: 52px;
  --padding-vertical: 0;
  --padding-sides: 16px;
  --line-height: 52px;
  --icon-size: 24px;
}
.form.select .form-elem {
  position: relative;
  height: var(--height);
  padding: var(--padding-vertical) var(--height) var(--padding-vertical) var(--padding-sides);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.4262 15.5807L18.0084 9.21152C18.4007 8.76391 18.0909 8.06198 17.4959 8.05011L6.51711 7.83105C5.91988 7.81914 5.58302 8.51254 5.96155 8.97465L11.3581 15.5628C11.6322 15.8974 12.1411 15.9059 12.4262 15.5807Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center right 14px;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.form.select.disabled .form-elem,
.form.select .form-elem:disabled {
  color: var(--disabled-color);
  background-color: var(--disabled-bg-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.4262 15.5807L18.0084 9.21152C18.4007 8.76391 18.0909 8.06198 17.4959 8.05011L6.51711 7.83105C5.91988 7.81914 5.58302 8.51254 5.96155 8.97465L11.3581 15.5628C11.6322 15.8974 12.1411 15.9059 12.4262 15.5807Z' fill='%23BBBBBB'/%3E%3C/svg%3E");
}
.form.textarea {
  --padding-vertical: 18px;
  --padding-sides: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.form.textarea.disabled,
.form.textarea .form-elem:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-color);
}
.form.textarea .form-elem {
  display: block;
  padding: var(--padding-vertical) var(--padding-sides);
  font-size: var(--font-size);
  line-height: 24px;
  resize: none;
}
.form.textarea .form-elem + .form-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 4px;
}
.form.radio {
  --radio-size: 24px;
}
.form.radio:not(.disabled, :has(:disabled)) .form-elem:checked + .form-text::before {
  border: 5px solid rgb(1, 132, 208);
}
.form.radio.disabled:checked + .form-text,
.form.radio .form-elem:disabled:checked + .form-text {
  color: var(--disabled-color);
}
.form.radio.disabled .form-text,
.form.radio .form-elem:disabled .form-text {
  color: var(--disabled-color);
}
.form.radio.disabled .form-text::before,
.form.radio .form-elem:disabled .form-text::before {
  background-color: rgb(217, 217, 217);
}
.form.radio .form-elem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--radio-size);
  height: var(--radio-size);
  opacity: 0;
  z-index: auto;
}
.form.radio .form-text {
  position: relative;
  padding-left: calc(var(--radio-size) + 4px);
  line-height: var(--radio-size);
  color: rgb(24, 24, 24);
  cursor: pointer;
}
.form.radio .form-text::before, .form.radio .form-text::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 4px;
  left: 4px;
}
.form.radio .form-text::before {
  content: "";
  overflow: hidden;
  display: inline-block;
  width: calc(var(--radio-size) / 1.5);
  height: calc(var(--radio-size) / 1.5);
  border-radius: 4px;
  border: 2px solid rgb(193, 193, 193);
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form.checkbox {
  --chk-size: 16px;
}
.form.checkbox:not(.disabled, :has(:disabled)) .form-elem:checked + .form-text::before {
  border-color: rgb(1, 132, 208);
  background-color: rgb(255, 255, 255);
}
.form.checkbox:not(.disabled, :has(:disabled)) .form-elem:checked + .form-text::after {
  width: var(--chk-size);
  background-color: rgb(1, 132, 208);
}
.form.checkbox.disabled:checked + .form-text::before,
.form.checkbox .form-elem:disabled:checked + .form-text::before {
  background-color: var(--disabled-bg-color);
}
.form.checkbox.disabled:checked + .form-text::after,
.form.checkbox .form-elem:disabled:checked + .form-text::after {
  background-color: var(--disabled-color);
}
.form.checkbox.disabled .form-text,
.form.checkbox .form-elem:disabled .form-text {
  color: var(--disabled-color);
}
.form.checkbox.disabled .form-text::before,
.form.checkbox .form-elem:disabled .form-text::before {
  background-color: var(--disabled-bg-color);
  border-color: var(--disabled-color);
}
.form.checkbox.disabled .form-text::after,
.form.checkbox .form-elem:disabled .form-text::after {
  width: var(--chk-size);
  border-color: var(--disabled-color);
  background-color: var(--disabled-bg-color);
}
.form.checkbox .form-elem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: 0 -24px 0 0;
  opacity: 0;
  z-index: auto;
}
.form.checkbox .form-text {
  position: relative;
  padding-left: 32px;
  line-height: 24px;
  color: rgb(24, 24, 24);
  cursor: pointer;
}
.form.checkbox .form-text::before, .form.checkbox .form-text::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 1px;
}
.form.checkbox .form-text::before {
  content: "";
  overflow: hidden;
  display: inline-block;
  width: var(--chk-size);
  height: var(--chk-size);
  border: 2px solid rgb(217, 217, 217);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.form.checkbox .form-text::after {
  content: "";
  overflow: hidden;
  display: inline-block;
  width: 0;
  height: var(--chk-size);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E") no-repeat 0/cover;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E") no-repeat 0/cover;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.form.switch {
  position: relative;
  display: inline-block;
  line-height: 24px;
  padding: 0 0 0 50px;
}
.form.switch .form-elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: transparent;
  border: 0;
}
.form.switch .form-elem:checked::before {
  background-color: rgb(115, 188, 229);
}
.form.switch .form-elem:checked::after {
  left: calc(100% - 21px);
  -webkit-box-shadow: 0px 2px 2px rgba(68, 86, 108, 0.4);
          box-shadow: 0px 2px 2px rgba(68, 86, 108, 0.4);
}
.form.switch .form-elem::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 24px;
  background-color: rgb(193, 193, 193);
  border-radius: 12px;
}
.form.switch .form-elem::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out;
  -webkit-box-shadow: 0px 1px 2px rgba(68, 86, 108, 0.15);
          box-shadow: 0px 1px 2px rgba(68, 86, 108, 0.15);
}
.form.switch.disabled::after,
.form.switch .form-elem:disabled::after {
  background-color: rgb(217, 217, 217);
}
.form.switch.disabled + .form-text,
.form.switch .form-elem:disabled + .form-text {
  color: var(--disabled-color);
}
.form.valid .form-elem {
  border: 1px solid rgb(76, 175, 80);
  background-color: rgb(255, 255, 255);
}
.form.valid + .form-noti {
  color: rgb(76, 175, 80);
}
.form.invalid .form-elem {
  border: 1px solid rgb(211, 47, 47);
  background-color: rgb(255, 255, 255);
}
.form.invalid + .form-noti {
  color: rgb(211, 47, 47);
}

.form-validator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: rgb(193, 193, 193);
}
.form-validator span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 20px;
}
.form-validator span::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E") no-repeat 50%/cover;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-linecap='square' stroke-width='1.5' d='m17.362 8.5-7.16 7.2L7 12.497'/%3E%3C/svg%3E") no-repeat 50%/cover;
  background-color: rgb(193, 193, 193);
}
.form-validator .valid {
  color: rgb(76, 175, 80);
}
.form-validator .valid::before {
  background-color: rgb(76, 175, 80);
}
.form-validator .invalid {
  color: rgb(211, 47, 47);
}
.form-validator .invalid::before {
  background-color: rgb(211, 47, 47);
}

.file-upload {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.file-upload .file-upload-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 14px 16px;
  border: 1px dashed rgb(24, 24, 24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.file-upload .file-upload-btn::after {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center/cover;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='rgba(0,0,0,1)' fill-rule='evenodd' d='M12.345 20.455L12.337 20.458C12.285 20.476 12.163 20.5 12 20.5C11.837 20.5 11.715 20.476 11.663 20.458L11.655 20.455C10.349 20.005 8.157 18.803 6.304 16.885C4.46 14.976 3 12.413 3 9.217C3 6.606 5.081 4.5 7.641 4.5C9.157 4.5 10.499 5.239 11.344 6.388C11.499 6.598 11.742 6.722 12.001 6.722C12.26 6.722 12.503 6.598 12.658 6.387C13.086 5.802 13.644 5.327 14.287 4.999C14.93 4.672 15.639 4.501 16.36 4.5C18.919 4.5 21 6.606 21 9.217C21 12.413 19.54 14.976 17.696 16.885C15.842 18.803 13.651 20.004 12.345 20.455Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center/cover;
  background-color: rgb(24, 24, 24);
}
.file-upload .file-upload-btn .form-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  line-height: 24px;
  color: rgb(24, 24, 24);
}
.file-upload .file-upload-btn .form-elem[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.file-upload .file-upload-btn .file-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.file-upload .file-upload-btn .file-text .file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-upload .file-upload-btn .file-text .extension {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.file-upload .file-upload-btn .btn-delete::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E") no-repeat center/cover;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='none' stroke='rgba(0,0,0,1)' stroke-width='1.5' d='M17.541 9.585 12.458 14.5 7.543 9.416'/%3E%3C/svg%3E") no-repeat center/cover;
  background-color: rgb(145, 145, 145);
}
.file-upload .file-upload-btn .btn-delete .btn-text {
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  line-height: 1px;
  font-size: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  display: block;
  position: absolute;
}
.file-upload .form-noti {
  margin-top: 8px;
}